apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  annotations:
    run.googleapis.com/client-name: gcloud
    run.googleapis.com/client-version: 541.0.0
    run.googleapis.com/ingress: all
    run.googleapis.com/ingress-status: all
    run.googleapis.com/invoker-iam-disabled: 'true'
    run.googleapis.com/operation-id: ed588a3a-8c00-4c9e-a4a5-29df279aecf8
    run.googleapis.com/urls: '["https://vertex-admin-677825641273.us-east4.run.app","https://vertex-admin-6eaa7aavea-uk.a.run.app"]'
    serving.knative.dev/creator: ogcreid@gmail.com
    serving.knative.dev/lastModifier: 677825641273-compute@developer.gserviceaccount.com
  creationTimestamp: '2025-10-01T20:36:46.217590Z'
  generation: 10
  labels:
    cloud.googleapis.com/location: us-east4
    commit-sha: d73ae3ccde232db67c777d1897238c5e618efcf0
    gcb-build-id: bf6d556b-7dbc-4c83-83c7-395d35cc9fa5
    gcb-trigger-id: 3dff40a4-b764-4e03-9399-866e9143463c
    gcb-trigger-region: global
    managed-by: gcp-cloud-build-deploy-cloud-run
    run.googleapis.com/satisfiesPzs: 'true'
  name: vertex-admin
  namespace: '677825641273'
  resourceVersion: AAZAMTtMxQQ
  selfLink: /apis/serving.knative.dev/v1/namespaces/677825641273/services/vertex-admin
  uid: fee14bd3-4d41-4c65-b5b8-38c4d54f7949
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: '20'
        run.googleapis.com/client-name: gcloud
        run.googleapis.com/client-version: 541.0.0
        run.googleapis.com/cloudsql-instances: vertex-ai-scraper-project:us-east4:zoho-rag
      labels:
        client.knative.dev/nonce: ckmxxylgnm
        commit-sha: d73ae3ccde232db67c777d1897238c5e618efcf0
        gcb-build-id: bf6d556b-7dbc-4c83-83c7-395d35cc9fa5
        gcb-trigger-id: 3dff40a4-b764-4e03-9399-866e9143463c
        gcb-trigger-region: global
        managed-by: gcp-cloud-build-deploy-cloud-run
        run.googleapis.com/startupProbeType: Default
    spec:
      containerConcurrency: 80
      containers:
      - env:
        - name: 'ALLOWED_DBS '
          value: zoho_rag
        - name: INSTANCE_CONNECTION_NAME
          value: vertex-ai-scraper-project:us-east4:zoho-rag
        - name: DB_USER
          value: postgres
        - name: DB_PASS
          value: V%p]K$n<F1(|3ggJ
        image: us-east4-docker.pkg.dev/vertex-ai-scraper-project/cloud-run-source-deploy/vertex_rag/vertex-admin:d73ae3ccde232db67c777d1897238c5e618efcf0
        name: vertex-admin-1
        ports:
        - containerPort: 8080
          name: http1
        resources:
          limits:
            cpu: 1000m
            memory: 512Mi
        startupProbe:
          failureThreshold: 1
          periodSeconds: 240
          tcpSocket:
            port: 8080
          timeoutSeconds: 240
      serviceAccountName: 677825641273-compute@developer.gserviceaccount.com
      timeoutSeconds: 300
  traffic:
  - latestRevision: true
    percent: 100
status:
  address:
    url: https://vertex-admin-6eaa7aavea-uk.a.run.app
  conditions:
  - lastTransitionTime: '2025-10-02T00:52:47.046700Z'
    message: |-
      Revision 'vertex-admin-00006-2rt' is not ready and cannot serve traffic. The user-provided container failed to start and listen on the port defined provided by the PORT=8080 environment variable within the allocated timeout. This can happen when the container port is misconfigured or if the timeout is too short. The health check timeout can be extended. Logs for this revision might contain more information.

      Logs URL: https://console.cloud.google.com/logs/viewer?project=vertex-ai-scraper-project&resource=cloud_run_revision/service_name/vertex-admin/revision_name/vertex-admin-00006-2rt&advancedFilter=resource.type%3D%22cloud_run_revision%22%0Aresource.labels.service_name%3D%22vertex-admin%22%0Aresource.labels.revision_name%3D%22vertex-admin-00006-2rt%22 
      For more troubleshooting guidance, see https://cloud.google.com/run/docs/troubleshooting#container-failed-to-start
    reason: HealthCheckContainerError
    status: 'False'
    type: Ready
  - lastTransitionTime: '2025-10-02T18:34:12.643833Z'
    message: |-
      The user-provided container failed to start and listen on the port defined provided by the PORT=8080 environment variable within the allocated timeout. This can happen when the container port is misconfigured or if the timeout is too short. The health check timeout can be extended. Logs for this revision might contain more information.

      Logs URL: https://console.cloud.google.com/logs/viewer?project=vertex-ai-scraper-project&resource=cloud_run_revision/service_name/vertex-admin/revision_name/vertex-admin-00005-jsr&advancedFilter=resource.type%3D%22cloud_run_revision%22%0Aresource.labels.service_name%3D%22vertex-admin%22%0Aresource.labels.revision_name%3D%22vertex-admin-00005-jsr%22 
      For more troubleshooting guidance, see https://cloud.google.com/run/docs/troubleshooting#container-failed-to-start
    status: 'True'
    type: ConfigurationsReady
  - lastTransitionTime: '2025-10-02T00:52:47.046700Z'
    message: |-
      Revision 'vertex-admin-00006-2rt' is not ready and cannot serve traffic. The user-provided container failed to start and listen on the port defined provided by the PORT=8080 environment variable within the allocated timeout. This can happen when the container port is misconfigured or if the timeout is too short. The health check timeout can be extended. Logs for this revision might contain more information.

      Logs URL: https://console.cloud.google.com/logs/viewer?project=vertex-ai-scraper-project&resource=cloud_run_revision/service_name/vertex-admin/revision_name/vertex-admin-00006-2rt&advancedFilter=resource.type%3D%22cloud_run_revision%22%0Aresource.labels.service_name%3D%22vertex-admin%22%0Aresource.labels.revision_name%3D%22vertex-admin-00006-2rt%22 
      For more troubleshooting guidance, see https://cloud.google.com/run/docs/troubleshooting#container-failed-to-start
    reason: HealthCheckContainerError
    status: 'False'
    type: RoutesReady
  latestCreatedRevisionName: vertex-admin-00006-2rt
  latestReadyRevisionName: vertex-admin-00004-cm7
  observedGeneration: 10
  traffic:
  - latestRevision: true
    percent: 100
    revisionName: vertex-admin-00004-cm7
  url: https://vertex-admin-6eaa7aavea-uk.a.run.app
